#carrito-container{
  background:white;
  border-radius:14px 14px 0 0;
  box-shadow:0 -3px 12px rgba(0,0,0,.15);
  padding:10px;
}

.carrito-item{
  display:flex;
  justify-content:space-between;
  padding:6px 0;
  border-bottom:1px solid #eee;
}

.carrito-item:last-child{
  border-bottom:none;
}